*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); }
  /* transform: translateX... makes it move from left to right */ }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translate(0); }
  /* transform: translateX... makes it move from left to right */ }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  80% {
    transform: translateY(-2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #ffffff;
  padding: 3rem;
  /* the border around the entire webpage */
  box-sizing: border-box;
  /* borders and padding no longer added to the height or with */ }

.heading-primary {
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    animation: moveInLeft 1s ease-in; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: .5rem;
    animation: moveInRight 1s ease-in; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, rgba(120, 135, 171, 0.9), rgba(6, 21, 57, 0.9));
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewX(20deg) scale(1.05);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #4F628E;
  background-image: linear-gradient(to right, rgba(120, 135, 171, 0.9), rgba(6, 21, 57, 0.9));
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all .2s; }

.paragraph {
  font-size: 1.6rem;
  color: #707C80; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.4rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 3.5rem;
  display: inline-block;
  border-radius: 10rem;
  position: relative;
  transition: all .2s;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.3) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #daa520;
  color: #ffffff; }
  .btn--white::after {
    background-color: #daa520; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animate {
  animation: moveInBottom 1s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #4F628E;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #4F628E;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #4F628E;
  color: #ffffff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.form button {
  background-color: #4F628E; }

.blog-box a {
  top: 20rem; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 3rem;
    position: absolute;
    transition: all .5s;
    outline-offset: 1rem; }
    .composition__photo--p1 {
      left: 0;
      top: 1.5rem; }
    .composition__photo:hover {
      outline: 0.3rem solid #4F628E;
      transform: scale(1.15);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); }

.blog-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .5s;
  height: 50rem;
  width: 100%; }
  .blog-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  color: inherit;
  font-family: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
  .form__input:focus:invalid {
    border-bottom: 3px solid #5F0D0A; }
  .form__input:focus:valid {
    border-bottom: 3px solid #00ff00; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }

::after {
  content: "";
  display: table;
  clear: both; }

[class^="col-"] {
  float: left; }
  [class^="col-"]:not(:last-child) {
    margin-right: 6rem; }

.col-1-of-2 {
  width: calc((100% - 6rem) / 2); }

.col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3); }

.col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }

.col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4); }

.col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }

.col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 95vh;
  background-image: linear-gradient(to bottom right, rgba(120, 135, 171, 0.9), rgba(6, 21, 57, 0.9)), url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0%, 100% 65vh, 0 100%);
  color: #ffffff; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 6rem; }
  .header__logo {
    color: rgba(218, 165, 32, 0.8);
    font-size: 2rem;
    border-bottom: 0.2rem solid rgba(218, 165, 32, 0.8); }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.footer {
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #4F628E; }
  .footer__navigation {
    border-top: 2px solid darkgray;
    padding-top: 2.1rem;
    display: inline-block; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #4F628E;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.3s; }
  .footer__link:hover, .footer__link:active {
    background-color: #4F628E;
    color: #ffffff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3);
    border-radius: 3px;
    padding: .5rem; }
  .footer__copyright {
    border-top: 2px solid darkgray;
    padding-top: 1.9rem;
    width: 80%;
    float: right;
    display: inline-block; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -30vh; }

.blog-features {
  padding: 20rem 0;
  background-image: linear-gradient(to bottom right, rgba(120, 135, 171, 0.9), rgba(6, 21, 57, 0.9)), url(../img/blog-bg.jpeg);
  background-size: cover;
  margin-top: -7.2rem;
  transform: skewY(-7deg); }
  .blog-features > * {
    transform: skewY(7deg); }

.section-contact {
  padding: 15rem 0; }

.contact {
  background-image: linear-gradient(105deg, rgba(218, 165, 32, 0.9) 0%, rgba(218, 165, 32, 0.9) 50%, transparent 50%), linear-gradient(to bottom right, rgba(120, 135, 171, 0.7), rgba(6, 21, 57, 0.5)), url(../img/form-bg.jpg);
  background-size: cover;
  height: 50rem;
  border-radius: 4px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  .contact__form {
    width: 50%;
    padding: 6rem; }
