/*
COLORS:

Almost Lavendar: #7887AB;
Grey Blue:       #4F628E;
Evening Blue:    #162955;
Dark Blue:       #061539;

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* borders and padding no longer added to the height or with */
  }
  
  body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #fff;
    padding: 30px; /* the border around the entire webpage */
  }
  
  .header {
      height: 95vh;
      background-image: linear-gradient(to bottom right, rgba(120, 135, 171, 0.9), rgba(2.4, 8.2, 22.4, 0.9)), url(../img/hero.jpg);
      background-size: cover;
      background-position: center;
      clip-path: polygon(0 0, 100% 0%, 100% 65vh, 0 100%);
  }

  .logo-box {
    position: absolute;
    top: 40px;
    left: 60px;
  }

  .logo {
    color: rgba(255, 255, 255, 0.8);
    font-size: 2rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.8); 
  }

  .text-box {
    position: absolute;
    top: 40%;
    left: 50%;transform: translate(-50%, -50%);
  }

  .heading-primary {
    text-transform: uppercase;

    backface-visibility: hidden;
  }

  .heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 15px;
    
    animation: moveInLeft 1s ease-in;
  }

  .heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 10px;

    animation: moveInRight 1s ease-in;
  }


  @keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-100px); 
    }

    80% {
      transform: translateX(20px);
    }

    100% {
      opacity: 1;
      transform: translate(0);
    }
    /* transform: translateX... makes it move from left to right */
  }

  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(100px); 
    }

    80% {
      transform: translateX(-20px);
    }

    100% {
      opacity: 1;
      transform: translate(0);
    }
    /* transform: translateX... makes it move from left to right */
  }