// Colors
$color-almost-lavendar: #7887AB;
$color-grey-blue: #4F628E;
$color-evening-blue: #162955;
$color-dark-blue: #061539;
$color-white: #ffffff;
$color-black: #000;
$color-grey-light-1: #f7f7f7;
$color-text: #707C80;

//Font
$default-font-size: 1.6rem;

//Grid
$grid-width: 114rem;
$gutter-verticle: 8rem;
$gutter-horizontal: 6rem;